
.addNoteBtn{
    font-size: 45px;
    position: relative;
    right:200px;
    color:var(--color-white);
    cursor: pointer;
}

@media (max-width:750px) {

    .addNoteBtn{
        right:280px;
    }

    .addNoteBtn i{
        position: relative;
    }
}