
.mainNoteContainer{
    width:98w;
    height: 70vh;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:10px 20px;
}


.noNotesContainer{
    width:100%;
    color:var(--color-white);
    text-align: center;

}

.noNotesContainer i{
    font-size: 65px;
}

.noNotesContainer span{
    font-size: 45px;
    font-family: "Monoton";
}

.notesContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    height:500px;
    position: relative;
    z-index: 1;
}

.notesNav{
position: relative;
display: flex;
justify-content: space-between;
align-items: center;
width:100%;
}

.leftNav{
    position:absolute;
    bottom: 5px;
    left:-93.2vw;
    z-index: 6;
    cursor: pointer;
    background-color: transparent;
}


.leftNav i{
    font-size: 40px;
    position: relative;
    color: var(--color-white);
    transform: rotate(-132deg);
    
}

.rightNav{
    border-radius: 50%;
    position:absolute;
    bottom: 5px;
    right:15px;
    z-index: 6;
    cursor: pointer;

}

.rightNav   i{
    font-size: 40px;
    position: relative;
    color: var(--color-white);
    transform: rotate(45deg);
    
}


@media (max-width:750px) {
    .leftNav{
        left:-81.8vw;
    }

    .rightNav{
        right: 8.5px;
    }


}
