
.addNoteContainer{
    position:absolute;
    left:46%;
    top:42%;
    z-index: 5;
    pointer-events: initial;
    padding:10px;
    overflow:hidden;
    box-shadow: 0 2px 10px 6px rgba(255,255,255,0.1);
    font-family: "Roboto";
}

.addNoteContainer .infoContainer{
    padding: 10px 20px;
    color:var(--color-white);
    overflow-y: scroll;
    height:350px;
}



.infoContainer::-webkit-scrollbar{
    width:6px;
    cursor: pointer;
  }
  
  .infoContainer::-webkit-scrollbar-track{
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .infoContainer::-webkit-scrollbar-thumb{
    background: #38bdf8;
    width:2px;
    border-radius:3px;
  }

.ds-btn{
    width:150px;
    margin:20px;
    background:var(--color-red);
    color:var(--color-white);
    font-family: "Roboto";
    font-size: 10px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    cursor: pointer;
    text-transform: uppercase;
}

.ds-btn i{
    font-size: 20px;
    margin-left:10px;
}


.c-btn{
    width:150px;
    margin:20px;
    background:var(--color-amber);
    color:var(--color-white);
    font-family: "Roboto";
    font-size: 10px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.1);
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    cursor: pointer;
    text-transform: uppercase;
}

.c-btn i{
    font-size: 20px;
    margin-left:10px;
}

.btnsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

